<div fxLayout="column" style="margin-bottom: 32px">
  <form #searchForm>
    <mat-form-field appearance="outline"
      [ngClass]="search.value ? 'search-box-partial' : 'search-box-full'">
      <mat-label>City Name </mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input matInput aria-label="City" [formControl]="search" />
      <mat-hint>Specify city</mat-hint>
      <mat-error *ngIf="search.invalid"> Type more than one character to search
      </mat-error>
    </mat-form-field>
    <button mat-icon-button *ngIf="search.value" class="clear-button"
      (click)="searchForm.reset(); search.reset();">
      <mat-icon>close</mat-icon>
    </button>
  </form>
  <div class="center">

    <button mat-icon-button class="clear-button"
      (click)="doSearch(search.value)">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</div>
