<div *ngIf="current$ | async as current">
  <div fxLayout="row">
    <div fxFlex="66%" class="mat-title no-margin">{{ current.name }},
      {{ current.country }}
    </div>
    <div fxFlex class="mat-subheading-2 no-margin">
      {{ current.date | date: 'EEEE MMM d' }}{{ getOrdinal(current.date) }}
    </div>
  </div>

  <div fxLayout="row">
    <div fxFlex="100%" class="mat-title no-margin">
      {{ current.weatherDescription }}
    </div>

  </div>


  <div fxLayout="row" fxLayoutAlign="center center" style="margin-bottom: -48px;">

    <div fxFlex class="right no-margin">
      <p class="mat-display-3">
        {{ current.temp | number: '1.0-0' }}
        <span class="mat-display-1 unit">&#8457;</span>
        <span>&#124;</span>
      </p>
    </div>
    <div fxFlex class="right no-margin">
      <p class="mat-display-3">
        {{ current.pressure | number: '1.0-0' }}
        <span class="mat-display-1 unit">P</span>
        <span>&#124;</span>
      </p>
    </div>
    <div fxFlex class="right no-margin">
      <p class="mat-display-3">
        {{ current.humidity | number: '1.0-0' }}
        <span class="mat-display-1 unit">H</span>

      </p>
    </div>


  </div>
</div>
